# Copie este arquivo para .env e preencha com os dados do seu projeto Supabase.
# No Expo, variáveis de ambiente do cliente PRECISAM começar com EXPO_PUBLIC_.
EXPO_PUBLIC_SUPABASE_URL=""
EXPO_PUBLIC_SUPABASE_ANON_KEY=""
